
.content-wrapper {
    display: flex;
    padding: 20px;
}

.left-panel {
    flex: 3;
    padding-right: 20px;
}

.right-panel {
    flex: 1;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.movie-item {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
}

.movie-item .image-container {
    width: 100%;
    padding-top: 150%; /* Aspect ratio for the images */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}

.movie-item a {
    text-decoration: none;
    color: #fff;
}

.right-panel h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.right-panel-card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-panel-card-link {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.right-panel-card-link:hover {
    transform: scale(1.03);
}

.right-panel-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-panel-card img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.right-panel-card-text h4 {
    font-size: 16px;
    margin: 0;
}

.right-panel-card-text p {
    font-size: 14px;
    color: #aaa;
    margin: 5px 0 0 0;
}

.right-panel-card-text .fa-star {
    color: gold;
}
